.searchBar {
    /* display: flex; */
    align-items: center;
  }
  
  .searchBar input {
    flex-grow: 1;
  }
  
  .progress {
    height: 20px;
  }
  
  .viewDataContainer {
    padding: 20px;
  }
  .searchBar input {
    width: 200px; /* Adjust the width as per your preference */
  }
  .searchBar button {
    padding: 0.375rem 0.75rem; /* Adjust padding as per your preference */
    font-size: 0.875rem; /* Adjust font size as per your preference */
  }
  
  @media (max-width: 768px) {
    .searchBar {
      flex-direction: column;
    }
    
    .searchBar input {
      margin-bottom: 10px;
    }
  }
  