.search-container {
    position: relative;
  }
  
  .clear-button {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the distance from the right edge as needed */
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #999;
  }
  
  .clear-button:hover {
    color: #333;
  }
  