@media screen and (max-width: 768px) {
    .event-container1 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .event-container1 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 10px;
    }
  }